body {
	text-align: center;
	background-color: #caf0f8;
}

.header{
	padding: 80px;
	background: #023e8a;
	margin-bottom: -115px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

form{
	border-style: solid;
	border-width: 1px;
	border-color: #a6a6a6;
	border-top-width: 10px;
	border-top-color: #0077b6;
	box-shadow: 0px 1px 1px 0px #888888;
	text-align: justify;
	background-color: #f8f9fa;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	display: inline-block;
	width: 630px;
	min-height: 760px;
}

h1{
	font-family: "Verdana";
	font-weight: normal;
	color: #212529;
	margin-bottom: 30px;
}

.label{
	font-family: "Verdana";
	font-size: 18px;
	color: #212529;
}

.paragraph{
	font-family: "Verdana";
	font-size: 18px;
	color: #212529;
	margin-left: 32px;
	margin-top: -8px;
	word-wrap: break-word;
}